@import "tailwindcss";

@theme {
  --color-dark-background: hsl(207 26% 17%);
  --color-dark-element: hsl(209 23% 22%);
  --color-dark-text: hsl(0 0% 100%);
  --color-light-background: hsl(0 0% 98%);
  --color-light-input: hsl(0 0% 52%);
  --color-light-text: hsl(200 15% 8%);
}

@custom-variant dark (&:where(.dark, .dark *));